
.form-control:focus {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
  border-color: #000000 !important;
}
.btn-black {
    background-color: #0d6dfdc3 !important;
    border-color: #0d6dfdc3 !important;
}

.btn-black:hover {
    background-color: 	#0d6dfd90 !important;
    border-color: 	#0d6dfd90 !important;
}
html {
  overflow-y: scroll;
}


body.modal-open {
  padding-right: 0 !important;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1050;
    background: #4698ff !important;
    box-shadow: 0 2px 10px rgba(0,0,0,.07);
    border-bottom: 1px solid #1976d2;
}
body {
    padding-top: 76px;
}


body {
    padding-top: 70px;
}

body.modal-open {
  overflow: hidden !important;
}

.menu-active {
    color: #fff !important;
    filter: none;
}

.menu-inactive {
    color: #d1eaff !important;
    font-weight: 600 !important;
    opacity: 0.7;
    background: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
    filter: none;
    transition: color .2s;
}
.menu-inactive:hover {
    color: #fff !important;
    opacity: 1;
}



.modal-backdrop.show {
    opacity: 0.5 !important;
    backdrop-filter: blur(3px);
}
